<div id="header">
    <nav>
        <li class="fork">
            <a target="_blank" title="View on GitHub" href="https://github.com/tmenier/Flurl"><img src="{{ site.baseurl }}/images/github.png" /></a>
            <a target="_blank" title="Follow on Twitter" href="https://twitter.com/intent/follow?original_referer=http%3A%2F%2Ftmenier.github.io%2FFlurl%2F&region=follow_link&screen_name=FlurlHttp&tw_p=followbutton"><img src="{{ site.baseurl }}/images/twitter.png" /></a>
            <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://tmenier.github.io/Flurl/" data-text="Check out Flurl! Fluent URL builder and testable HTTP for .NET" data-via="FlurlHttp" data-related="FlurlHttp">Tweet</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
        </li>
        <h1><a href="{{ site.baseurl }}/">Flurl</a></h1>
        <p>Fluent URL builder and testable HTTP for .NET</p>
    </nav>
</div>
