<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h1>{{ site.title }}</h1>
      <p class="lead">{{ site.description }}</p>
    </div>

    <ul class="sidebar-nav">
      <li class="sidebar-nav-item"><a href="http://www.nuget.org/tmenier/flurl">NuGet</a></li>
      <li class="sidebar-nav-item"><a href="{{ site.github.repo }}">GitHub project</a></li>
    </ul>

    <p>&copy; {{ site.time | date: '%Y' }}. All rights reserved.</p>
  </div>
</div>
