<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Flurl" version="2.2.1" targetFramework="portable40-net45+sl5+win8+wp8+wpa81" />
  <package id="Flurl.Http" version="1.0.3" targetFramework="portable40-net45+sl5+win8+wp8+wpa81" />
  <package id="Microsoft.Bcl" version="1.1.10" targetFramework="portable40-net45+sl5+win8+wp8+wpa81" />
  <package id="Microsoft.Bcl.Async" version="1.0.168" targetFramework="portable40-net45+sl5+win8+wp8+wpa81" />
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="portable40-net45+sl5+win8+wp8+wpa81" />
  <package id="Microsoft.Net.Http" version="2.2.29" targetFramework="portable40-net45+sl5+win8+wp8+wpa81" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="portable40-net45+sl5+win8+wp8+wpa81" />
  <package id="PCLStorage" version="1.0.2" targetFramework="portable40-net45+sl5+win8+wp8+wpa81" />
</packages>