<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Fluent URL builder and testable HTTP for .NET - Flurl</title>

        <meta http-equiv="refresh" content="{{ page.redirect_seconds | default: "0" }}; url={{ site.new_home_url }}{{ page.redirect_to }}">
        <link rel="canonical" href="{{ site.new_home_url }}{{ page.redirect_to }}" />
        <link rel="stylesheet" href="{{ site.baseurl }}/stylesheets/styles.css">
    </head>
    <body>
        <div id="we-moved">
            <h1>Flurl has moved!</h1>
            <h1>Check out the new site at <a href="{{ site.new_home_url }}">{{ site.new_home }}</a></h1>
        </div>
    </body>
</html>
