<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Bcl" version="1.1.8" targetFramework="portable-win+net45+sl50+wp80" />
  <package id="Microsoft.Bcl.Async" version="1.0.168" targetFramework="portable-net45+sl50+win+wp80" />
  <package id="Microsoft.Bcl.Build" version="1.0.14" targetFramework="portable-win+net45+sl50+wp80" />
  <package id="Microsoft.Net.Http" version="2.2.20" targetFramework="portable-win+net45+sl50+wp80" />
  <package id="Newtonsoft.Json" version="6.0.3" targetFramework="portable-win+net45+sl50+wp80" />
  <package id="PCLStorage" version="0.9.6" targetFramework="portable-net45+sl50+win+wp80" />
</packages>